* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /*border: 1px solid red;*/
}

body {
  background-color: #161719;
}

small {
  font-size: 2vh;
}

#header {
  display: flex;
  width: 100%;
  min-height: 20vh;
  justify-content: flex-start;
  align-items: center;
}

#speech-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 8vh;
  background-color: white;
  border-radius: 10px;
  margin: 3vh;
}
#speech-bubble::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 2vh solid transparent;
	border-right-color: white;
	border-left: 0;
	margin-top: -2vh;
	margin-left: -2vh;
}
#speech-bubble > p {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 3vh;
  overflow-wrap: anywhere;
  line-height: 3vh;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

#canvas {
  left: 0;
  width: 20vh;
  height: 20vh;
  touch-action: none;
  outline: none;
}