* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: black;
}

#speech-bubble {
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: calc(50% + 30vh);
  transform: translateX(-50%);
  min-width: 50vw;
  min-height: 4vh;
  background-color: white;
  border-radius: 10px;
}
#speech-bubble::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 2vh solid transparent;
  border-top-color: white;
  border-bottom: 0;
  margin-left: -2vh;
  margin-bottom: -2vh;
}
#speech-bubble > p {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 3vh;
  overflow-wrap: anywhere;
  line-height: 3vh;
  padding-top: 4px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}
#speech-bubble > p > small {
  font-size: 2vh;
}

#canvas {
  position: absolute;
  left: calc(50% - 25vh);
  top: calc(50% - 25vh);
  width: 50vh;
  height: 50vh;
  touch-action: none;
  outline: none;
}

#footer {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
#footer > a > img {
  filter: invert(1);
}
