* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: black;
  overflow-x: hidden;
}

#speech-bubble {
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: calc(50% + 30vh);
  transform: translateX(-50%);
  min-width: 8vh;
  background-color: white;
  border-radius: 1vh;
}
#speech-bubble::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 2vw solid transparent;
  border-top-color: white;
  border-bottom: 0;
  margin-left: -2vw;
  margin-bottom: -1.8vw;
}
#speech-bubble > p {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 2.5vw;
  white-space: nowrap;
  line-height: 2.5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
#speech-bubble > p > small {
  font-size: 1.5vw;
}

#canvas {
  position: absolute;
  left: calc(50% - 14vw);
  top: calc(50% - 14vw);
  width: 28vw;
  height: 28vw;
  touch-action: none;
  outline: none;
}

#footer {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
